body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;  
  background-color: #B9ADC4;
}

section {
  box-sizing: border-box;
}

h6, h5, h4, h3, h2, p {
  margin: 0;
}

.nav-text {
  text-align: center;
  margin: 10px;
  padding: 5px;
}

.header {
  height: 45vh;
  width: 100%;
  background-color: #331A41;
  display: flex;
}

button {
  padding: 0;
  margin: 0;
}

.nav-buttons {
  width: 50%;
  height: 40vh;
}

.profile  {
  display: grid;
  width: 50%;
  height: auto;
  justify-content: flex-end;
  padding-right: 1%;
}

.nav-button, .profile-button, .profile-icon {
  display: flex;
  background-color: #331A41;
  color: #B9ADC4;
}

.nav-button {
  width: 70%;
  height: 13.5vh;
}

.profile-button {
  width: auto;
  height: 50px;
}

.profile-icon {
  width: 100%;
}

.profile-img {
  width: 75%;
  height: 75%;
}

.profile-arrow-icon {
  height: 35%;
  width: 35%;
  padding-top: 5%;
}

.profile-text b{
  margin: 0%;
}

.logo {
  display: grid;
  justify-content: flex-end;
}

.website-logo {
  box-sizing: border-box;
  border: 3px #331A41 solid;
}

.title {
  height: 7vh;
}
  
.home {
  background-color: #331A41 ;
  padding: 0%;
}
  
.hidden {
  display: none;
}

/************  div SECTIONS *********/
  
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}
  
/**********  COLUMN SETUP  ***********/

.col {
  display: block;
  float: left;
  margin: 1% 0% 1% 1%;
}

.col:first-child {
  margin-left: 0%;
}

/************ GROUPING ********/

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}

/**********  GRID OF FOUR  **********/
/************************************/

.span_4_of_4 {
  width: 100%;
}

.span_3_of_4 {
  width: 74.75%;
}

.span_2_of_4 {
  width: 49%.5;
}

.span_1_of_4 {
  width: 24.25%;
}

/********* FULL-CARDS **********/
/********* CARD FONT **********/

h1 {
  display: grid;
  margin: 1%;
  justify-content: left;
  font-size: 10px; 
  border: cyan .5px solid;
}

h2 {
  padding-top: 0;
  padding-bottom: 5px;
}
  
p {
  margin: 5%;
  padding: 1%;
  text-align: center;
}
/******* FULL-CARD ********/

.full-card {
  display: grid;
  width: 100%;
  height: auto;
}

.a {
  display: grid;
  grid-template-rows: 1fr 2fr;  
  width: 95%;
  height: 300px;
  border: #AE6A1F 3px solid;  
}
  
/******* CARD-TOP ********/

#a1 {
  display: grid;
  grid-template-rows: 3fr 2fr;  
  height: 100%;   
  background-color: #331A41;
  color: #D4D2D6 ;
}

.f {  
  display: grid;
  background-color: #331A41;
  margin-top: 3px;
}

.c {
  display: inline-flex;
  background-color: #331A41;
  height: 60px;
} 

/******* CARD-BOTTOM ********/

#a2 {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto auto auto;
  height: 100%;      
  background-color: #71627B;
  color: #D4D2D6;
  border-top: #AE6A1F 15px solid;     
}
  
.g, .h, .j, .k {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;    
}

.one {
  box-sizing: border-box;
  width: 100%;
  height: 50%;
}

.fill-1 {
  display: grid;
  justify-content: end;
  width: 100%;
  height: 50%;
}

.fill-2 {
  width: 60%;
}

.two {
  box-sizing: border-box;
  display: flex;
  justify-content: end;
  width: 40%;  
  height: 100%; 
}
  
  /**************** @MEDIA *****************/
  
@media only screen and (max-width: 775px) {
  
  .col {
    margin: 1% 0 1% 0%;
  }
  
  .span_4_of_4 {
    width: 100%;
  }
  
  .span_3_of_4 {
    width: 49.5%;
  }
  
  .span_2_of_4 {
    width: 100%;
  }
  
  .span_1_of_4 {
    width: 49.5%;
  }
}  

@media only screen and (max-width: 480px) {
    
  .col {
    margin: 1% 0 1% 0%;
  }

  .span_1_of_4,
  .span_2_of_4,
  .span_3_of_4,
  .span_4_of_4 {
    width: 100%;
    height: 360px;
  }

  .c {
    display: flex;
  }

  .f {
    display: flex;
  }

  .one {
    box-sizing: border-box;
    width: 50%;
  }

  .fill-1 {
    justify-content: flex-end;
    width: 50%;
    height: 100%;
  }

  .header {
    height: 60vh;
    width: 98%;    
  }

  .nav-menu {
    display: inline-flex;
  }

  input {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    padding: 10px;
    margin: 5px;
  }

  .nav-button {
    width: 90%;
  }

  .nav-text {
    padding: 3%;
    margin: 1%;
  }    
}